.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .logo {
    height: 50px;
    margin-right: 10px;
  }
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .logo {
    height: 100px;
    margin-right: 10px;
  }
  h2{
    font-size: 35px;
  }
  /* Responsive pour tablette + mobile */
  @media (max-width: 1024px) {
    .homeContainer {
      padding: 20px;
    }
    .header {
      flex-direction: column;
      gap: 10px;
    }
    .logo {
      height: 40px;
      margin-right: 0;
    }
  }
  